.sign-in{
    background-color: yellowgreen;
    height: 100vh;

    .header{
        background-color: gray;
        // display: flex;
        // flex: 1 0 auto;
    }

    .sign-in-container{
        background-color: violet;
        display: flex;
        flex-direction: column;
        flex-grow: 5;
    }
}